

Html {font-size: 16px;}

body {background-color:rgb(173, 219, 255);
  font-family: 'Rubik'; 
  font-size:16px;
  color:rgb(14, 76, 128);
}


h1 {color:rgb(5, 30, 51);
  text-decoration:underline; 
  font-size:2.06rem;
  font-family:'Merriweather sans';
margin:0.5rem;
text-align:center;
 }

 h2{font-size:1.3rem;
  color:rgb(17, 69, 112);
  font-family:'Montserrat';
  Margin:0.5rem;
  text-align: center;
font-weight:560;
}

h4{color:rgb(17, 69, 112); 
  font-family:'Montserrat';
margin:0.5rem;margin-left:0.8rem;
font-weight:470;
width:90%;
text-align:center;
padding-right:0rem;
}






p{font-size:1rem;
}

a {color:whitesmoke;
text-decoration: none; font-family:'montserrat'; font-size:0.97rem;
}

a:hover { color:lightblue; text-decoration:underline;

}

img {margin:0.5rem;}


div.test {display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  padding-left:auto;
  padding-right:auto;}


ul{ list-style-type: none;
  margin: 0px;
  padding: 0px; 
}


#active {
  background-color:rgb(7, 30, 48); 
border-left:1rem solid rgb (white);

}

nav.navbar > ul > li {display:inline;
  border-right: 0.17rem solid white;
  font-size:1rem;
padding:0.1rem 0.3rem;
}
.home{border-left:0.17rem solid white}

.navbar{display:flex;justify-content: center;}
.clever{padding:0.1rem 0.3rem;}


.primarybackground{background-color:rgb(10, 119, 173);
  color:whitesmoke; 
  font-size:0.89rem;
padding:0.3rem;
padding-left:0;
padding-right:0;
overflow:hidden;

}

.but {background-color:rgb(19, 164, 237);}


#linkedin {font-family:'noto sans';
  color:rgb(116, 189, 237);
  font-size:0.89rem; }

footer {position:static; font-family:'noto sans';
padding:0.5rem; text-align:center;
}
#foot{text-align:center;}

footer>div {display:block;}

/**
 * Contact page stuff. Rem the title 'Hannah' and then rem the pics and forms so it works on phones
put linkedin far right
 */
#contact {text-decoration:none; }

 /**
 * top 5 page
 */


ol{text-align:center;padding-right:0.8rem;}

 
.fixlink {color:rgb(237, 78, 124); font-size:1rem;font-weight:800;}

input[type=text] {width:100%; padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#message {padding:40px 20px;}

.buttonstyle {
  width: 100%;
  background-color:rgb(5, 53, 77);
  color: mistyrose;
  font-size:1rem;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

form {border-radius: 5px;
  background-color:rgb(211, 245, 245);
  padding: 15px;
width:18rem;

display: block;
  margin-left: auto;
  margin-right: auto;
}

.jimfix{padding:0.7rem; background-color:rgb(211, 245, 245);margin-bottom:1rem;}




@media screen and (min-width: 768px) 
{ body { background-color: lightblue;} 
html{font-size:18px;}
.navbar{display:flex;justify-content: left;}
/* nav>ul {padding-top:0rem;}
#active{padding-top:0.3rem;} */ 




a{font-size:1.2rem;}
h1{font-size:2.4rem;}
h2{font-size:1.8rem;}

footer{text-align:left;}
footer>div{display:inline;font-size:0.75rem;}
footer.primarybackground{padding-left:0.5rem;}
#linkedin{font-size:0.75rem;}

#special {margin-top:13.5rem;}





form{width:18rem;}
}
